
		
				<li>
				<input type="text" name="title" [(ngModel)]="contents.title" class="text" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
				</li>
				<li>
				<input type="text" name="content" [(ngModel)]="contents.content" class="text" value="content" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'content';}" ><a href="#"></a>
				</li>
				<li>
				<input type="text" name="url" [(ngModel)]="contents.url" value="url" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}"><a href="#" class=" icon lock"></a>
				</li>
				<div class="p-container">
				<input type="submit" (click) ="Create()" value="Submit" >
				<div class="clear"> </div>
				</div>
			
