
<div class="container">
  <h2>Create Event</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Organization Address</a></li>
    <li><a data-toggle="tab" href="#menu3">Ticket Details</a></li>
  </ul>
  <div class="tab-content">
    
   <div id="home" class="tab-pane fade in active">
   <br>
   <br>
    <div class="form-group">
	<label for="title">Event Userid</label>
	<input type="text" name="title" [(ngModel)]="events.userid" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="description">Event name</label>
	<input type="text" name="description" [(ngModel)]="events.name" class="form-control" value="description" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event description</label>
	<input type="text" name="title" [(ngModel)]="events.description" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >

	<div class="form-group">
	<label for="sport">entry_type</label>
	<input type="text" name="title" [(ngModel)]="events.entry_type" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >

<div *ngIf="sports">
    <div class="form-group">
    <label for="name">Event sport:</label>
      <select class="form-control" name="game" [(ngModel)]="events.sport" required>
        <option *ngFor="let sport of sports" [ngValue]="sport.sports" > {{sport.sports}} </option>
      </select>
    </div>
  </div>


    
	
	<div class="form-group">
	<label for="title">Event address</label>
	<input type="text" name="title" [(ngModel)]="events.address" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
    </div>

       <!-- Tab 2 start -->
    

    <div id="menu1" class="tab-pane fade">  
    <br>
    <br>

    <div class="form-group">
	<label for="title">Event city</label>
	<input type="text" name="title" [(ngModel)]="events.city" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event state</label>
	<input type="text" name="title" [(ngModel)]="events.state" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event event_link</label>
	<input type="text" name="title" [(ngModel)]="events.event_link" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event start_date</label>
	<input type="text" name="title" [(ngModel)]="events.start_date" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event end_date</label>
	<input type="text" name="title" [(ngModel)]="events.end_date" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event organizer_email</label>
	<input type="text" name="title" [(ngModel)]="events.organizer_email" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div>
    </div>

<!-- new Tab 3 -->


    <div id="menu2" class="tab-pane fade">
    <br>
    <br>
     <div class="form-group">
	<label for="title">Event mobile</label>
	<input type="text" name="title" [(ngModel)]="events.mobile" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event eligibility</label>
	<input type="text" name="title" [(ngModel)]="events.eligibility" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	<div class="form-group">
	<label for="title">Event terms_cond</label>
	<input type="text" name="title" [(ngModel)]="events.terms_cond" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div >
	

    </div>


<!-- new Tab 4 -->

   <div id="menu3" class="tab-pane fade">
   <br>
   <br>
     <!-- <div class="form-group">
	<label for="title">Event ticket</label>
	<input type="text" name="title" [(ngModel)]="events.ticket" class="form-control" value="title" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" ><a href="#" class=" icon user"></a>
	</div > -->


	<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h2>Ticket Details</h2>
      </div>


   <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
      
      <div formArrayName="myArray"> 
        
         <div *ngFor="let myGroup of myForm.controls.myArray.controls; let i=index" class="panel panel-default">
          
           <div [formGroupName]="i" class="panel-body"> 
              <span *ngIf="myForm.controls.myArray.controls.length > 1" 
                    (click)="removeDataKey(i)" class="glyphicon glyphicon-remove pull-right">
                </span>
             <h5 >Ticket Detail {{i + 1 }}</h5>
           <!--  <h3>  {{myGroupName[i] }}</h3> -->
          
              <!--[formGroupName]="myGroupName[i]"-->
              <div [formGroupName]="myGroupName[i]" class="panel-body"> 
              <div class="form-group">
              <label>Ticket Name</label>
              <input type="text" class="form-control" formControlName="TName" >
              </div>

              <div class="form-group">
              <label>Price</label>
              <input type="text" class="form-control" formControlName="Price" >
              </div> 

              <div class="form-group">
              <label>Number</label>
              <input type="text" class="form-control" formControlName="Number" >
              </div>

             
              </div>
              <!--[formGroupName]="myGroupName[i]"-->

        </div>
         <!--[formGroupName]="i" -->
      </div>
     
    </div>
     <!-- myArray array-->
 
        <div class="margin-20">
        <input #newName
      (keyup.enter)="addName(newName.value)"
       type="hidden" style="width:30%" id="newName"  value="term">
        <a (click)="addArray(newName.value)" style="cursor: default" class="btn btn-primary">Add Ticket Details  </a>
        </div>
          <br/><br/>
       <!--  <div class="margin-20">
          <div>myForm details:-</div>
          
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div> -->
      
      </form>

    <div class="form-group">

    <input type="text"  name="ticket" [(ngModel)]="events.ticket" class="form-control" value="{{ticket}}">
   </div>

    <div class="form-group">
    <input type="hidden" id="myValue" class="form-control" [(ngModel)]="this.events.ticket" value="{{myForm.value | json}}">
    </div>


    </div>
  </div>
</div>

   <div class="form-group">
   	
   	<input type="file" (change)="handleFileSelect($event)" required class="form-control " name="attach_file" id="attach_file">
   </div>
     
      <div class="form-group">

    <input type="text"  name="image" [(ngModel)]="events.image" class="form-control" value="{{image}}">
   </div>

    </div>

        <div class="p-container">
		<input type="submit" (click) ="Create()" class="btn btn-primary" value="Submit" >
		<div class="clear"> </div>
		</div>

  </div>
</div>